<!-- Enter Number <input type="text" [(ngModel)]="num" />

<div [ngSwitch]="num">
  <p *ngSwitchCase="0">
    You Entered ZERO
  </p>
  <p *ngSwitchCase="1">
    You Entered ONE
  </p>
  <p *ngSwitchDefault>
    You Entered Nothing
  </p>
</div>
<hr />
<hr /> -->

<hr />

<span style="margin-top: 250px;">
  <button style="color: white; background-color: darkmagenta;" type="button"
    (click)="onShowDeptClicked($event)">Department</button>
  <button style="color: white; background-color:dodgerblue;" type="button"
    (click)="onShowStudentListClicked($event)">StudentList</button>
</span>

<app-dept-container *ngIf="showDepartment" (newStudentEvent)="newStudent($event)">

</app-dept-container>

<hr />

<app-students-container *ngIf="!showDepartment" [students]="students"></app-students-container>

<span style="margin-top: 250px;"></span>
